apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: envoy-gateway
  namespace: argocd
spec:
  project: default
  source:
    repoURL: oci://docker.io/envoyproxy/gateway-helm
    path: .
    targetRevision: v1.6.2
  destination:
    server: https://kubernetes.default.svc
